@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.grid{
    display: inline-flex;
    margin-top: 12vw;
    font-family: 'Inter', sans-serif;

    /* overflow: scroll; */
}


.block1{
    background-color: #E8E8E8;
    border-radius: 17px;
    width: 20vw;
    height: calc(110vh - 130px);
    margin-left: 17vh;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
}

.middle-block{
        background-color: #E8E8E8;
    border-radius: 17px;
    width: 40vw;
    margin-top: 30vh;
    height: calc(80vh - 130px);
    margin-left: 2vh;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
}
.block2{
    background-color: #E8E8E8;
    border-radius: 17px;
    width: 20vw;
    margin-top: 30vh;
    height: calc(80vh - 130px);
    margin-left: 2vh;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
}

.style-itens{
      /* column-count: 3; */
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    /* margin-right: 5px; */
    margin-left: 12px;
    width: 8vw;
    height: 12vw;
    word-wrap: break-word;
  /* border: 1px solid rgb(0, 0, 0);
      border-radius: 4px; */
      background: linear-gradient(0deg, #DCDCDC, #DCDCDC);
      border-radius: 10px;
      cursor: pointer;
}



.items{
    margin-left: 30px;
    margin-right: 10px;
}
/* .style-itens :hover{
    background: #9B84DE;
} */
 .style-itens img{
    /* display: b; */
        height: 7vw;
        width: 5vw;
        padding: 2vh;


}

.style-itens p{
     display: block;
     text-align: center;
     margin: 0;
     width: 90%;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     font-size: 12px;
     margin-left: 5px;
     margin-right: 5px
}


.info h1{
    position: absolute;
    margin-left: 1vw;
    font-size: 25px;

}
.info p{
     position: absolute;
    margin-left: 1vw;
    margin-top: 9vh;
    width: 60%;
    height: 20%;
    font-size: 15px;
}

.img-icon{
    height: 22vw;
    width: 15vw;
    object-fit: fill;
    margin-left: 2.5vw;
        margin-right: 2.5vw;
        margin-top: 2vw;
    border-radius: 10px;
    position: absolute;
    box-shadow: -6px 0px 0px 0px #3BB777;
}

.botao{
    position: relative;
    width: 6.5vw;
    height: 60px;
    color: #fff;
    font-size: 15px;
    border: none;
background: #9B84DE;
border-radius: 5px;
cursor: pointer;
margin-top: calc(22vw + 4vw);
margin-left: 2vw;
}



.collection{
    font-size: 22px;
    color: #5A5A5A;
    margin: 0 auto;
    margin-left: 2.8vw;
    margin-bottom: 1vh;
    margin-top: 2vh;
    font-weight: 200;
}

.line{
    color: #A9A9A9;
    border: 1px solid;
    position: relative;
    top: 35vh;
}

.vermais{
    cursor: pointer;
    margin-top: 5px;
    font-size: 12px;
    margin-left: 40%
}

.iteminfo{
   margin-top: 2vh;
    margin-bottom: 4px;
    font-weight: normal;
}


.deletebuttom{
       /* position: static; */
    margin: 2.5vw;
    width: 15vw;
    height: 7vh;
    color: #000;
    font-size: 15px;
    border: none;
background: #cccccc;
border-radius: 5px;
cursor: pointer;
}
.iconmini{
    height: 2.5vh;
    width: 1.8vw;
    margin-bottom: -4px;
}

.stats{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 10px;
}